/* สไตล์สำหรับสถานะ */
.status-waiting {
    color: #ff9800; /* สีส้ม */
    font-weight: bold;
}

.status-processing {
    color: #fbc02d; /* สีเหลือง */
    font-weight: bold;
}

.status-completed {
    color: #4caf50; /* สีเขียว */
    font-weight: bold;
}

.status-default {
    color: #757575; /* สีเทา */
}
